<div class="home-content">
	<div class="wrap">
		<h2 class="t-center heading">Give it a try</h2>
		<hr class="dark">
		<section class="console" id="console">
			<div class="endpoints" data-key="endpoints">
				<ul>
					<li data-id="users" data-key="endpoint" data-http="get" class="active">List users</li>
					<li data-id="users-single" data-key="endpoint" data-http="get">Single user</li>
					<li data-id="users-single-not-found" data-key="endpoint" data-http="get">Single user not found</li>
					<li data-id="unknown" data-key="endpoint" data-http="get">List &lt;resource&gt;</li>
					<li data-id="unknown-single" data-key="endpoint" data-http="get">Single &lt;resource&gt;</li>
					<li data-id="unknown-single-not-found" data-key="endpoint" data-http="get">Single &lt;resource&gt; not found</li>
					<li data-id="post" data-key="endpoint" data-http="post">Create</li>
					<li data-id="put" data-key="endpoint" data-http="put">Update</li>
					<li data-id="patch" data-key="endpoint" data-http="patch">Update</li>
					<li data-id="delete" data-key="endpoint" data-http="delete">Delete</li>
					<li data-id="register-successful" data-key="endpoint" data-http="post">Register - successful</li>
					<li data-id="register-unsuccessful" data-key="endpoint" data-http="post">Register - unsuccessful</li>
					<li data-id="login-successful" data-key="endpoint" data-http="post">Login - successful</li>
					<li data-id="login-unsuccessful" data-key="endpoint" data-http="post">Login - unsuccessful</li>
					<li data-id="delay" data-key="endpoint" data-http="get">Delayed response</li>
				</ul>
			</div><!--
			--><div class="output">
				<div class="request">
					<p class="request-title"><strong>Request <i class="fa fa-arrow-circle-up"></i> <span class="url" data-key="url"></span></strong></p>
					<pre data-key="output-request"></pre>
				</div><!--
				--><div class="response">
					<p class="response-title"><strong>Response <i class="fa fa-arrow-circle-down"></i> <span class="response-code" data-key="response-code"></span></strong></p>
					<div data-key="spinner" class="spinner" hidden>
					  <div class="cube1"></div>
					  <div class="cube2"></div>
					</div>
					<pre data-key="output-response"></pre>
				</div>
			</div>
		</section>

		<h2 class="t-center heading">It&rsquo;s all in the details</h2>
		<hr class="dark">
		<section class="technical-bits" id="technical-bits">
			<ul class="iconed">
				<li>
					<i class="fa fa-cloud"></i>
					<p><strong>Hosted on <a href="https://www.digitalocean.com/?refcode=e4c34618634f">Digital Ocean</a></strong></p>
					<p>Which means 99.99% Uptime SLA.<br>All you need is the base URL, and you're away: <br><br><span class="code">https://reqres.in/api/</span><br><br>The API is CORS enabled, so you can make requests right from the browser, no matter what domain, or even from somewhere like JSFiddle or JSBin.</p>
				</li>
				<li>
					<i class="fa fa-file-code-o"></i>
					<p><strong>Language agnostic</strong></p>
					<p>A generic API that conforms to REST principles and accepts a content type of <br><br><span class="code">application/json</span><br><br>Any endpoint that contains "&lt;resource&gt;" can be substituted with anything you supply, ie. "products", "accounts", etc..the API will just respond with various Pantone colours (defined in <a href="https://github.com/benhowdle89/reqres/blob/master/data.json">data.json</a> under the "unknown" key)</p>
				</li>
				<li>
					<i class="fa fa-github"></i>
					<p><strong>Open-source on GitHub</strong></p>
					<p>A tool for developers to use, so it makes sense that you should have a say in how it works. <br><br><span class="code"><a href="https://github.com/benhowdle89/reqres">https://github.com/benhowdle89/reqres</a></span><br><br> Submit a pull request to propose changes and add more data/endpoints! Just remember to mirror changes in the documentation...</p>
				</li>
			</ul>
		</section>

		<h2 class="t-center heading">Getting started</h2>
		<hr class="dark">
		<section class="getting-started t-center" id="getting-started">
			<i class="fa fa-html5"></i>
			<div class="tab">
				<p class="tab-title">jQuery</p>
				<p>If you, for example, want to create a fake user:</p>
				<pre>
$.ajax({
    url: "https://reqres.in/api/users",
    type: "POST",
    data: {
        name: "paul rudd",
        movies: ["I Love You Man", "Role Models"]
    },
    success: function(response){
        console.log(response);
    }
});
				</pre>
				<p>For which the response to this request will be...</p>
				<pre>
{
    "name":"paul rudd",
    "movies[]":[
        "I Love You Man",
        "Role Models"
    ],
    "id":"243",
    "createdAt":"2014-10-18T12:09:05.255Z"
}
				</pre>
				<p>You can see that the API has sent us back whatever user details we sent it, plus an <span class="code">id</span> &amp; <span class="code">createdAt</span> key for our use.</p>
			</div><!--
			--><div class="tab">
				<p class="tab-title">Native JavaScript</p>
				<p>If you've already got your own application entities, ie. "products", you can send them in the endpoint URL, like so:</p>
				<pre>
var xhr = new XMLHttpRequest();
xhr.open("GET", "https://reqres.in/api/products/3", true);
xhr.onload = function(){
    console.log(xhr.responseText);
};
xhr.send();
				</pre>
				<p>It would be impossible for Reqres to know your application data, so the API will respond from a sample set of Pantone colour data</p>
				<pre>
{
    "data":{
        "id":3,
        "name":"true red",
        "year":2002,
        "pantone_value":"19-1664"
    }
}
				</pre>
				<p>It's entirely possible to get sample data into your interface in seconds!</p>
			</div>
		</section>
	
		<h2 class="t-center heading">Still don't really get it...</h2>
		<hr class="dark">
		<section class="technical-bits" id="technical-bits">
			<ul class="iconed">
				<li>
					<i class="fa fa-rocket"></i>
					<p><strong>Reqres is a <em>real</em> API</strong></p>
					<p>Reqres simulates real application scenarios. If you want to test a user authentication system, Reqres will respond to a successful login/register request with a token for you to identify a sample user, or with a 403 forbidden response to an unsuccessful login/registration attempt. <br><br>A common front-end scenario that's easily forgotten is loading states, which can be easily simulated through Reqres by appending <br><span class="code">?delay=&lt;a number of seconds&gt;</span> to any endpoint URL, which will delay the API response time. Animated loading GIFs &amp; SVGs at the ready!</p>
				</li>
				<li>
					<i class="fa fa-bolt"></i>
					<p><strong>Technical demos and tutorials</strong></p>
					<p>If you're trying to demonstrate a front-end (JavaScript-based) concept, you don't really want the hassle of setting up an API, or even a server (especially during a live workshop or demo).<br><br> You can just write your HTML, CSS &amp; JavaScript as usual and send Reqres AJAX requests, which will respond with the expected response codes and output.
				</li>
				<li>
					<i class="fa fa-file-code-o"></i>
					<p><strong>Rapid prototyping of interfaces</strong></p>
					<p>When prototyping a new interface, you just want an API <em>there</em>, with minimal setup effort involved. Normally, I'd point people, who aren't too familiar with backend programming, to <a href="http://sailsjs.org">Sailsjs</a> which can auto-generate a REST-API for you from the command line.<br><br> However, you will need Node.js installed and some familiarity of how Node.js works. If that sounds like too much hassle and way too daunting, Reqres is just a URL. Sending it an AJAX request is step 1...there is no step 2.</p>
				</li>
			</ul>
		</section>

		<h2 class="t-center heading">Peace of mind</h2>
		<hr class="dark">
		<section class="peace-of-mind" id="peace-of-mind">
			<i class="fa fa-lock"></i>
			<p>It might seem <strong>pretty weird</strong> to be sending your data to a 3rd party API, but I can assure you, Reqres <strong>does not store any of your data</strong> at all. Once you send it to us, we just send it straight back...and then it's gone!</p>
			<br>
			<p>All of the source code is open on <a href="https://github.com/benhowdle89/reqres">GitHub</a>, so do feel free to go check out the functionality yourself, for your own peace of mind.</p>
		</section>

	</div>
</div>
