<!DOCTYPE html>
<html lang="en">
	<head>
                <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="A hosted REST-API ready to respond to your AJAX requests">
		<title>Reqres - A hosted REST-API ready to respond to your AJAX requests</title>
		<script src="//use.typekit.net/tpc4hmk.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/app.css">		
	</head>
<body>
	<div class="header-content">
		<header class="main-header">
			<section class="wrap">
				<h1 class="logo"><a href="/">Req&#8201;|&#8201;Res</a></h1>
			</section>
		</header>
		<main class="the-sell">
			<div class="wrap">
				<h2 class="tagline">Test your front-end against a real API</h2>
				<section class="key-sells">
					<div class="sell">
						<div class="v-center">
							<h3>Fake data</h3>
							<p>No more tedious sample data creation, we've got it covered.</p>	
						</div>
						<i class="fa fa-cloud-download"></i>
					</div>
					<div class="sell">
						<div class="v-center">
							<h3>Real responses</h3>
							<p>Develop with real response codes. GET, POST, PUT &amp; DELETE supported.</p>	
						</div>
						<i class="fa fa-code"></i>
					</div>
					<div class="sell">
						<div class="v-center">
							<h3>Always-on</h3>
							<p>24/7 <strong><em>free</em></strong> access in your development phases. Go nuts.</p>	
						</div>
						<i class="fa fa-toggle-on"></i>
					</div>
				</section>
				<h2 class="tagline">A hosted REST-API ready to respond to your AJAX requests.</h2>
				<div class="t-center main-arrow"><i class="fa fa-arrow-circle-down"></i></div>
			</div>
		</main>
	</div>
	{{{body}}}
	<footer>
		<div class="wrap">
			<hr class="dark">
			<p class="t-center">Made for developers and designers by <a href="http://benhowdle.im">Ben Howdle</a></p>
		</div>
	</footer>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
	<script src="/js/app.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-55888877-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
